# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore log files, data files, or other unnecessary files
*.log
*.csv
*.data
